:root {
  --company-color: #2196f3;
  --grey-color: #757575;
}
/* * {
  margin: 0;
  padding: 0;
} */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Menu&footer */
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
}
.contact {
  display: flex;
}
.menu__a {
  color: inherit;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.menu__a:hover {
  color: var(--company-color);
}
.menu li:nth-child(2) {
  margin: 0 48px;
}
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 93px;
  padding: 24px 0;
}
.logo__blue {
  color: var(--company-color);
}
.footer__logo {
  color: #ffffff;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header__contact__a {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}
.header__contact__a:hover {
  color: var(--company-color);
}
.contact li:nth-child(2) {
  margin-left: 50px;
}
.footer__section {
  background-color: #2f303a;
  color: #ffffff;
}
.footer__contact__a {
  text-decoration: none;
  color: #ffffff60;
}
.footer__contact__a:hover {
  color: var(--company-color);
}
/* agencja */
.main__section {
  background-color: #2f303a;
  text-align: center;
}
.section {
  padding: 94px 0;
}
.main__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 694px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
}
.order__button {
  background-color: var(--company-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}
.description ul {
  display: flex;
  gap: 30px;
}
.description li {
  width: 270px;
}
.description__header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.description__p {
  color: var(--grey-color);
}
.we__do {
  display: flex;
  gap: 30px;
}
.second__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0 auto;
  margin-bottom: 50px;
}
.team {
  background-color: #f5f4fa;
}
.team ul {
  display: flex;
  margin: 0 auto;
  gap: 30px;
}
.team li {
  height: 368px;
  width: 270px;
  background-color: #ffffff;
  margin: 0 auto;
}

.team figure {
  background-color: #ffffff;
  height: 368px;
  width: 270px;
  margin: 0;
}
.team__figcaption {
  margin: 0;
  width: 270px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team__figcaption p:first-child {
  margin-top: 30px;
  margin-bottom: 0;
}
.team__second__p {
  color: var(--grey-color);
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 10px;
}
/* portfolio */
.portfolio__button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.portfolio__button:hover {
  background-color: var(--company-color);
  color: #ffffff;
  border-radius: 3px;
}
.portfolio__first__p {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__second__p {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.87;
}
.portfolio__list__a {
  text-decoration: none;
  color: inherit;
}
